<link rel="preconnect" href="https://fonts.googleapis.com">
<body>
  <div class="login-container">
    <h1>RedVelvet Bakery</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Correo o nombre de usuario</label>
        <input id="email" formControlName="email" type="email">
        <div *ngIf="email?.invalid && email?.touched">
          <small *ngIf="email?.errors?.['required']">Email es requerido.</small>
          <small *ngIf="email?.errors?.['email']">Email no es válido.</small>
        </div>
      </div>
      <div>
        <label for="password">Contraseña:</label>
        <input id="password" formControlName="password" type="password">
        <div *ngIf="password?.invalid && password?.touched">
          <small *ngIf="password?.errors?.['required']">Contraseña es requerida.</small>
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid" class="center-button">Ingresar</button>    
      <p class="forgot-password"><a href="#">Olvidé mi contraseña</a></p>
      <p class="register-link">¿No tienes una cuenta? <a href="#">Regístrate</a></p>
    </form>
  </div>
</body>
