<app-navbar></app-navbar>
<div class="bienvenida-container">
  <h1>¡Bienvenido a RedVelvet Bakery!</h1>
  <p>Estamos encantados de tenerte de vuelta.</p>

  <div class="links-container">
    <div class="link-item">
      <a id="inventario-link" routerLink="/inventario" class="link-button">
        <i class="fas fa-box-open"></i> Inventario
      </a>
      <p>Gestiona el inventario de productos de la panadería.</p>
    </div>
    <div class="link-item">
      <a id="finanzas-link" routerLink="/finanzas" class="link-button">
        <i class="fas fa-chart-line"></i> Finanzas
      </a>
      <p>Revisa y analiza los datos financieros.</p>
    </div>
    <div class="link-item">
      <a id="ventas-link" routerLink="/ventas" class="link-button">
        <i class="fas fa-cash-register"></i> Ventas
      </a>
      <p>Administra las ventas y el rendimiento del equipo de ventas.</p>
    </div>
    <div class="link-item">
      <a id="clientes-link" routerLink="/clientes" class="link-button">
        <i class="fas fa-users"></i> Clientes
      </a>
      <p>Gestiona la información y el historial de tus clientes.</p>
    </div>
    <div class="link-item">
      <a id="credits-link" routerLink="/credits" class="link-button">
        <i class="fas fa-credit-card"></i> Créditos
      </a>
      <p>Supervisa los créditos otorgados a los clientes.</p>
    </div>
    <div class="link-item">
      <a id="cuenta-corriente-link" routerLink="/cuenta-corriente" class="link-button">
        <i class="fas fa-book"></i> Cuenta Corriente
      </a>
      <p>Administra y revisa las cuentas corrientes de los clientes.</p>
    </div>
  </div>
</div>
