<app-navbar></app-navbar>

<h1>Mi Perfil</h1>

<h2>Información general</h2>

<div class="container">
    <div class="info-section">
        <div class="form-group">
            <label for="nombre">Nombre de establecimiento:</label>
            <input type="text" id="nombre" name="nombre">
        </div>
        <div class="form-group">
            <label for="ruc">RUC:</label>
            <input type="text" id="ruc" name="ruc">
        </div>
    </div>

    <div class="info-section">
        <div class="form-group">
            <label for="departamento">Departamento:</label>
            <input type="text" id="departamento" name="departamento">
        </div>
        <div class="form-group">
            <label for="provincia">Provincia:</label>
            <input type="text" id="provincia" name="provincia">
        </div>
        <div class="form-group">
            <label for="distrito">Distrito:</label>
            <input type="text" id="distrito" name="distrito">
        </div>
    </div>
</div>

<h3>Información de representante</h3>

<div class="container">
    <div class="info-section">
        <div class="form-group">
            <label for="producto">Apellidos </label>
            <input type="text" id="producto" name="producto">
        </div>
        <div class="form-group">
            <label for="cantidad">Nombre</label>
            <input type="text" id="cantidad" name="cantidad">
        </div>
    </div>
</div>

<h3>Información de contacto</h3>

<div class="container">
    <div class="info-section">
        <div class="form-group">
            <label for="producto">Teléfono</label>
            <input type="text" id="producto" name="producto">
        </div>
        <div class="form-group">
            <label for="cantidad">Correo</label>
            <input type="text" id="cantidad" name="cantidad">
        </div>
    </div>
</div>

<h3>Cambiar contraseña</h3>

<div class="container">
    <div class="info-section">
        <div class="form-group">
            <label for="producto">Contraseña actual</label>
            <input type="text" id="producto" name="producto">
        </div>
        <div class="form-group">
            <label for="cantidad">Nueva contraseña</label>
            <input type="text" id="cantidad" name="cantidad">
        </div>
    </div>
</div>

<div class="away">
    <button type="button">Cancelar</button>
    <button type="button">Guardar</button>
</div>

