@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

h1 {
  color: #333;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
}

.container {
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

#buscar-cliente,
#buscar-fecha-desde,
#buscar-fecha-hasta,
#buscar-estado,
#buscar-tipo-credito,
#buscar-tipo-interes,
#buscar-tasa-interes,
#buscar-monto,
#buscar-cuotas,
#buscar-plazo-gracia {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.btn-buscar {
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
}

.btn-buscar:hover {
  background-color: #0056b3;
}

#container-tabla-creditos {
  max-height: 600px;
  overflow-y: auto;
}

#tabla-creditos {
  width: 100%;
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  background-color: white;
}

.custom-thead {
  background-color: #0c64c2;
  color: white;
}

.custom-th, .custom-td {
  padding: 12px 15px;
  text-align: left;
}

.custom-th {
  font-size: 16px;
  font-weight: bold;
}

.custom-tbody tr {
  border-bottom: 1px solid #ddd;
}

.custom-tbody tr:nth-of-type(even) {
  background-color: #b4d0f5;
}

.custom-tbody tr:hover {
  background-color: #e9ecef;
}

.custom-tr:last-child {
  border-bottom: 2px solid #0056b3;
}

.custom-td {
  font-size: 14px;
}

.form-group button {
  font-family: Inter;
  font-size: 16px;
  color: rgba(54, 154, 38, 1);
  border: 1px solid rgba(54, 154, 38, 1);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent; 
  cursor: pointer;
}

.form-group button:hover {
  background-color: rgba(54, 154, 38, 0.1); 
}

input[type="date"] {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}
