<app-navbar></app-navbar>
<h1>Créditos</h1>
<form [formGroup]="creditoForm" (ngSubmit)="onSubmit()">
  <h2>Monto</h2>
  <div class="container">
    <div class="info-section">
      <div class="form-group">
        <label for="monto">Monto:</label>
        <input type="text" id="monto" formControlName="monto" title="Monto" [disabled]="true">
      </div>
      <div class="form-group">
        <label for="tipo">Tipo de crédito:</label>
        <select id="tipo" formControlName="TipoCredito_id" title="Tipo" class="select-custom" (change)="onTipoCreditoChange($event)">
          <option *ngFor="let tipo of tiposCredito" [value]="tipo._id">{{ tipo.nombre }}</option>
        </select>
      </div>
    </div>
  </div>
  <br>
  <h2>Tiempo</h2>
  <div class="container">
    <div class="info-section">
      <div class="form-group">
        <label for="fecha">Fecha del Credito:</label>
        <mat-form-field appearance="fill">
          <mat-label>Fecha del Credito</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="FechaCredito" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div *ngIf="mostrarCuotas" class="form-group">
        <label for="cuotas">Cuotas:</label>
        <input type="text" id="numeroCuotas" formControlName="numeroCuotas" title="numeroCuotas">
      </div>
      <div *ngIf="mostrarPlazoGracia" class="form-group">
        <label for="plazoGracia">Plazo de Gracia:</label>
        <input type="text" id="plazoGracia" formControlName="plazoGracia" title="plazoGracia">
      </div>
    </div>
  </div>

  <h2>Interés</h2>
  <div class="container">
    <div class="info-section">
      <div class="form-group">
        <label for="tipoTasa">Tipo de Tasa de interés:</label>
        <select id="tipoTasa" formControlName="TipoInteres_id" title="TipoTasa" class="select-custom">
          <option *ngFor="let tipo of tiposInteres" [value]="tipo._id">{{ tipo.nombre }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tasa">Tasa de interés:</label>
        <input type="text" id="tasa" formControlName="tasaInteres" title="Tasa">
      </div>
    </div>

    <div class="info-section">
      <div class="form-group">
        <label for="dni">Busca el cliente por DNI:</label>
        <input type="text" id="dni" (input)="filtrarClientes($event)" title="DNI">
      </div>
      <div class="form-group">
        <label for="cliente">Seleccionar cliente:</label>
        <select id="cliente" formControlName="Cliente_id" title="Cliente" class="select-custom">
          <option *ngFor="let cliente of clientesFiltrados" [value]="cliente._id">{{ cliente.nombres }} {{ cliente.apellidos }}</option>
        </select>
      </div>
    </div>
  </div>

  <h2>Productos</h2>
  <div class="container">
    <div class="info-section">
      <div class="form-group">
        <label for="producto">Producto:</label>
        <select id="producto" formControlName="productoId" class="select-custom">
          <option *ngFor="let prod of productosDisponibles" [value]="prod._id">{{ prod.nombre }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" formControlName="cantidad" min="1">
      </div>
      <div class="form-group">
        <button type="button" (click)="addProducto()">Añadir a la lista</button>
      </div>
    </div>
  </div>

  <h3>Lista de Productos</h3>
  <div class="container" id="listaProductos">
    <div *ngFor="let producto of listaProductos; let i = index">
      <div class="info-section">
        <div class="form-group">
          <label>{{ producto.nombre }}</label>
        </div>
        <div class="form-group">
          <label>{{ producto.cantidad }}</label>
        </div>
        <div class="form-group">
          <label>{{ producto.precio | currency }}</label>
        </div>
        <div class="form-group">
          <button type="button" (click)="removeProducto(i)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="away">
    <button type="submit">Generar Boleta</button>
  </div>
</form>
