@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  background-image: url('/assets/img/background2.jpg');
  background-size: cover;
}

.reset-password-container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  position: relative;
  top: 120px;
  z-index: 2;
  margin-right: 180px;
  background-color: rgba(248, 75, 75, 0.85);
  border-color: rgba(248, 75, 75, 0.85);

  h1 {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 15px;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: rgba(30, 30, 30, 0.6);
    border-radius: 3px;
    background-color: rgba(30, 30, 30, 0.6);
  }

  button {
    width: 50%;
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
    background-color: rgba(124, 64, 8, 1);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    margin-top: 50px;

    &:hover {
      background-color: #1a1a1a;
    }
  }
}

.submit a{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    text-decoration: none;
}