<body>
  <div class="reset-password-container">
    <h1>Restablecer Contraseña</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Correo Electrónico</label>
        <input id="email" formControlName="email" type="email">
      </div>

      <div>
        <label for="new-pass">Nueva contraseña</label>
        <input id="new-pass" formControlName="newPass" type="password">
      </div>

      <div>
        <label for="rep-pass">Repetir contraseña</label>
        <input id="rep-pass" formControlName="repPass" type="password">
      </div>

      <button class="submit" type="submit"><a >Restablecer</a></button>
    </form>
  </div>
</body>
