@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:host {
    display: block;
    background-color: #f0f2f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background: #fff;
    padding: 30px;
    margin: 0px auto;
    width: 95%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.header button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header button:hover {
    background-color: #0056b3;
}

.filters {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.filters label {
    margin-right: 10px;
    margin-left: 10px;
}

.filters select, .filters input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.table th,
.table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
}

.table th {
    background-color: #0c64c2;
    color: white;
    font-weight: bold;
}

.table td {
    background-color: #ffffff;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table td.deposito {
    background-color: #d4edda;
    color: #155724;
}

.table td.retiro {
    background-color: #f8d7da;
    color: #721c24;
}

.table-container {
    margin-top: 20px;
}

h3 {
    color: #333;
    margin-top: 30px;
    font-size: 1.2em;
}

h2,
h3 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e9ecef;
    border-radius: 5px;
}

.status div {
    display: flex;
    align-items: center;
}

.status div span {
    margin-left: 10px;
    font-size: 1em;
}

.status .icon {
    font-size: 1.5em;
    color: #007bff;
}

.saldo-filtros {
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}

.print-button {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.print-button button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.print-button button:hover {
    background-color: #0056b3;
}

